---
import MainLayout from "@layouts/MainLayout.astro";
import TwoColWithSidebar from "@components/list-layout/TwoColWithSidebar.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allBlogPost = await getCollection("blog");

  const uniqueTags = [
    ...new Set(allBlogPost.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allBlogPost.filter((post) =>
      post.data.tags?.includes(tag!)
    );

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<MainLayout>
  <div
    class="w-full hero-height grid grid-cols-1 gap-4 border-b border-stone-200 mb-8 py-8"
  >
    <h1 class="font-serif font-bold text-6xl"># {tag}</h1>
    <p class="ms-1 font-medium text-sm text-stone-400">
      List of all post related to #{tag}
    </p>
  </div>
  <TwoColWithSidebar postData={posts} />
</MainLayout>
