---
import { getCollection } from "astro:content";
const allBlogPost = await getCollection("blog");
import OneColSidebar from "../../layouts/OneColSidebar.astro";
import PostVertical from "../../components/PostVertical.astro";
---

<OneColSidebar>
  <div class="flex flex-col justify-start items-start gap-8">
    {allBlogPost.map((post) => <PostVertical post={post.data} />)}
  </div>
</OneColSidebar>
