---
import { getCollection } from "astro:content";
const allBlogPost = await getCollection("blog");
import MainLayout from "@layouts/MainLayout.astro";
import PostVertical from "../../components/PostVertical.astro";
import TwoColWithSidebar from "@/components/list-layout/TwoColWithSidebar.astro";
---

<MainLayout>
  <p>Hero section</p>
  <!-- List section -->
  <TwoColWithSidebar>
    {
      allBlogPost.map((post) => (
        <PostVertical slug={post.slug} post={post.data} />
      ))
    }
  </TwoColWithSidebar>
</MainLayout>
