---
import { getCollection } from "astro:content";
const allNews = await getCollection("news");
import OneColSidebar from "../../layouts/OneColSidebar.astro";
import PostVertical from "../../components/PostVertical.astro";
---

<OneColSidebar>
  <div class="grid grid-cols-2 gap-8 gap-y-12">
    {allNews.map((news) => <PostVertical slug={news.slug} news={news.data} />)}
  </div>
</OneColSidebar>
