---
import { getCollection } from "astro:content";
const allBlogPost = await getCollection("blog");
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostVertical from "../../components/PostVertical.astro";
---

<BaseLayout>
  <div class="grid grid-cols-2 gap-8">
    {
      allBlogPost.map((post) => (
        <PostVertical slug={post.slug} post={post.data} />
      ))
    }
  </div>
</BaseLayout>
