---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header
  class="w-full max-w-7xl mx-auto border-b border-stone-200 flex justify-between items-center py-8"
>
  <button>menu</button>
  <a href="/" class="font-sans text-4xl">
    <span class="font-black">snø.</span>
    <span class="font-light">Blog</span>
  </a>
  <button>search</button>
</header>
