---
import { getCollection } from "astro:content";
const allBlogPost = await getCollection("blog");

const uniqueTags = [
  ...new Set(allBlogPost.map((post) => post.data.tags).flat()),
];
---

<div class="pb-8 border-b">
  <h2 class="font-serif font-bold text-2xl mb-2">About me</h2>
  <img class="w-32 h-32 mb-4" src="/avatar.webp" alt="" />
  <p>
    Space enthusiast, cosmic storyteller, and NASA aficionado. Join me as we
    explore the wonders of the universe together.
  </p>
</div>
<div class="py-4">
  <h2 class="font-serif font-bold text-2xl mb-2">Categories</h2>
  <ul>
    {
      uniqueTags.map((tag) => (
        <li>
          <a
            class="flex justify-start items-center gap-1 py-1 relative font-serif font-medium"
            href={`/tags/${tag}/`}
          >
            <span class="tag">#</span>
            <span class="tag-name">{tag}</span>
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  a .tag {
    transition: all 0.3s ease-in-out;
  }
  a:hover .tag {
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
  }
  a .tag-name {
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
  }
  a:hover .tag-name {
    font-weight: bolder;
    transform: translateX(0.25em);
    transition: all 0.3s ease-in-out;
  }
</style>
