---
import Sidebar from "@components/Sidebar.astro";
import PostVertical from "@/components/post-card/PostVertical.astro";
const { postData } = Astro.props;

interface Post {
  slug: string;
  data: {
    title: string;
    description: string;
    pubDate: Date;
    updatedDate: Date;
    heroImage: string;
    tags: string[];
    authors: string[];
  };
}
---

<div class="w-full flex justify-start items-start gap-12">
  <div class="w-3/4 grid grid-cols-1 gap-8">
    {
      postData.map((post: Post) => (
        <PostVertical slug={post.slug} post={post.data} />
      ))
    }
  </div>
  <div class="w-1/4 sticky top-8">
    <Sidebar />
  </div>
</div>
