---
import "@fontsource-variable/inter";
import "@fontsource-variable/lora";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
const { siteTitle = SITE_TITLE, siteDescription = SITE_DESCRIPTION } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={siteTitle} description={siteDescription} />
  </head>
  <body
    class="font-sans text-stone-950 leading-normal tracking-normal p-4 pt-0"
  >
    <Header title={SITE_TITLE} />
    <div class="w-full max-w-7xl mx-auto py-8">
      <slot />
    </div>
    <Footer />
  </body>
</html>
